<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled small">
          <li><a routerLink="/" class="text-white text-decoration-none">Home</a></li>
          <li><a routerLink="/products" class="text-white text-decoration-none">Products</a></li>
          <li><span class="text-white-50">Contact</span></li>
          <li><span class="text-white-50">About</span></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <button type="button" class="btn btn-link p-0 text-white me-2" aria-label="Facebook"><i class="bi bi-facebook"></i></button>
        <button type="button" class="btn btn-link p-0 text-white me-2" aria-label="Twitter"><i class="bi bi-twitter"></i></button>
        <button type="button" class="btn btn-link p-0 text-white me-2" aria-label="Instagram"><i class="bi bi-instagram"></i></button>
      </div>
    </div>
    <div class="text-center mt-3 small">
      &copy; 2026 Your Company. All rights reserved.
    </div>
  </div>
</footer>
