
<div class="container mt-5">
    <h2 class="text-center mb-4">Products</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4 mb-4" *ngFor="let product of products">
            <div class="card h-200 shadow-sm">
                <img [src]="product.imageUrl" class="card-img-top" alt="productImag">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <h6 class="text-primary mt-auto">{{ product.price }}</h6>
                    <button class="btn btn-primary w-100 mt-2">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>